---
const today = new Date();
---

<footer class="footer footer-center mb-5 pt-10">
  <div class="flex w-full justify-center">
    <div class="badge">
      &copy; {today.getFullYear()} Ferran Hernandez
    </div>
  </div>
</footer>
<style>

</style>
