---
const today = new Date();
---

<footer class="footer footer-center block mb-5 pt-10">
  <div class="pb-2">
    &copy; {today.getFullYear()} Ferran Hernandez
  </div>
  <div class="inline opacity-75">
    <p>Website developed by <a href="https://www.linkedin.com/in/ferran-hernandez-v3/" target="_blank" class="font-bold">Ferran Hernandez ⚡️</a></p>
  </div>
</footer>
<style>

</style>
