---
import TimeItem from "../components/timeItem/TimeItem.astro";

const { title, items } = Astro.props;
---

<div id="education" class="mb-5">
    <div class="text-3xl w-full font-bold text-center">{title}</div>
</div>

<div class="time-line-container mb-10">
    {items.map((item) => (
        <TimeItem title={item.title} subtitle={item.subtitle} />
    ))}
</div>
