---
import TimeItem from "../components/timeItem/TimeItem.astro";

const startDate = new Date("2023-06-01");
const today = new Date();
const experienceTitle = 'Experience';

const totalMonths = (today.getFullYear() - startDate.getFullYear()) * 12 + (today.getMonth() - startDate.getMonth());
const years = Math.floor(totalMonths / 12);
const months = totalMonths % 12;
let timePassed = '';
if (years > 0) {
  timePassed += `${years} year${years > 1 ? 's' : ''}`;
}
if (months > 0) {
  timePassed += `${years > 0 ? ' and ' : ''}${months} month${months > 1 ? 's' : ''}`;
}
---
    <div id="experience" class="mb-5">
        <div class="text-3xl w-full font-bold text-center">{experienceTitle}</div>
    </div>
    <div class="time-line-container mb-10">
        <TimeItem
        title="Freelance Backend Developer"
        subtitle={`From 06/2023 to current - ${timePassed} - Remote work`}
        desc="- WorldRemit UK (01/2024-06/2024 - 6 months): Focused on third-party payment integrations daily communication in English has been key. I've developed scalable reactive applications using Java 17, Spring Boot, WebFlux and gRPC.\n- ING (06/2023-11/2024 - 1 year and 5 months): Been deeply involved in the development and maintenance of multiple microservices with DDD and hexagonal architecture that support the main public-facing application using Java 8-17, Spring boot and Kafka."
        />
        <TimeItem
        title="Programmer Analyst and DevOps Engineer"
        subtitle={`From 02/2023 to 11/2023 at RealNaut S.L. - 9 months - Remote work`}
        desc="My job was develop and deploy web and mobile applications using technologies such as Terraform, Flux, Tekton, Github Actions, AWS, Google Cloud and Azure to bring automation, continuous integration and delivering quality software."
        />
        <TimeItem
        title="Lead Tech and Full Stack Developer/DevOps"
        subtitle="From 06/2022 to 03/2023 at Trace Logistics S.L. - 10 months - Remote work"
        desc="Led a team of technicians developing applications using new technologies and implemented microservices architecture and DevOps services. I did trainings for the whole department every 2 weeks and advanced technical trainings for my team on the technologies used."
        />
        <TimeItem
        title="Full Stack Analyst and DevOps"
        subtitle="From 11/2021 to 07/2022 at Indra S.A. - 8 months - Remote work"
        desc="Was assigned to an internal banking project working principally on backend role with Spring/Java developing API's REST with microservices architecture using agile methodologies and maintaining the environment with devOps tools. I also make the initial formation for the new recruits to the team."
        />
        <TimeItem
        title="Full Stack Developer"
        subtitle="From 07/2020 to 10/2021 at Programacion Integral S.A. - 1 year and 5 months - Lleida, Catalonia, Spain"
        desc="Was designing UI, implementing features, customizing the software for 3rth companies and technical support to the clients of a enterprise resourse planning software for rrhh, contability, stock and web ecommerce linked to this ERP. I also make the initial formation for the new recruits to the team."
        />
        <TimeItem
        title="Programmer Internship"
        subtitle="From 01/2020 to 03/2020 at JustDigital S.L. - 3 months - Lleida, Catalonia, Spain"
        desc="Learned about FullStack role implementing functionalities and fixing errors using Angular with Typescript in frontend and Spring with Java and Kotlin in backend."
        />
    </div>