---
const { fullName, role } = Astro.props;
---
<div class="pb-3 titleSection text-center">
  <h1 class="text-5xl font-bold fullNameHeading">{fullName}</h1>
  <h2 class="text-3xl py-3 font-bold">{role}</h2>
</div>
