---
const { title, items } = Astro.props;
---
<div id="languages" class="mb-5">
    <div class="text-3xl w-full font-bold text-center">{title}</div>
  </div>

  <ul class="list-disc md:columns-4 columns-1 mx-6 mb-10">
    {items.map((item) => (
      <li>{item.name}: {item.level}</li>
    ))}
  </ul>