---
const profile = 'Profile';
const personalDesc = "In my free time I develop Android applications, create websites,"
                    + " repair/recondition pc's and tweak raspberry pi's among other hobbies."
                    + " My favorite programming language is Java but I adapt to all of them. I" 
                    + " am constantly learning with current and future technologies."
                    + " I consider myself an honest, friendly and empathetic person,"
                    + " both in my private and professional life.";
---
<div class="mb-5">
    <div class="text-3xl w-full font-bold text-center">{profile}</div>
  </div>

  <div class="mb-10 text-justify">{personalDesc}</div>