---
const { title, description } = Astro.props;
---
<div class="mb-5">
    <div class="text-3xl w-full font-bold text-center">{title}</div>
  </div>

  <div class="mb-5 text-justify">{description}</div>