---
import HorizontalCard from "../components/HorizontalCard.astro";
---
<>
    <div id="projects" class="mb-5">
        <div class="text-3xl w-full font-bold text-center">My last projects {"</>"}</div>
    </div>

    <HorizontalCard
        title="CRM Service DDD/Hexagonal"
        img="/SpringBoot-DDD-Store.webp"
        desc="A backend application using DDD/Hexagonal architecture"
        url="https://github.com/Ferranv3/CRMAPI"
        badge="NEW"
    />
    <HorizontalCard
        title="SpringBoot DDD Store"
        img="/SpringBoot-DDD-Store.webp"
        desc="A backend application using DDD/Hexagonal architecture"
        url="https://github.com/Ferranv3/SpringBoot-DDD-Store"
    />
    <div class="divider my-0"></div>
    <HorizontalCard
        title="TechNews API"
        img="/TechnewsAPI_screenshot.webp"
        desc="A backend application to serve tech news."
        url="https://github.com/Ferranv3/TechNews-API"
    />
    <div class="divider my-0"></div>
    <HorizontalCard
        title="TechNews Frontend"
        img="/TechNewsFront_screenshot.webp"
        desc="Built with Astro framework using HTML, CSS and React with hooks. One web to follow the most important tech news."
        url="https://technews-ferran.vercel.app/"
    />
    <div class="divider my-0"></div>
    <HorizontalCard
        title="Astro Portfolio"
        img="/Portfolio_screenshot.webp"
        desc="Modern portfolio with Project Section, CV Section, Paginated Blog, RSS Feed, SEO Friendly, Visual themes and Responsive Desing for Astro framework."
        url="https://github.com/Ferranv3/astro-portfolio"
    />
    <div class="divider my-0"></div>
    <HorizontalCard
        title="Note-ToDo"
        img="/NodeToDo_screenshot.webp"
        desc="A Node ToDo app built with MongoDB and Angular."
        url="https://github.com/Ferranv3/Node-ToDo"
    />
    <div class="divider my-0"></div>
    <HorizontalCard
        title="Spring Boot Samples REST"
        img="/SpringBootREST_screenshot.webp"
        desc="It contains a Spring Boot back-end with many endpoints. A calculator, a Nasa image viewer using an API Rest, a contact form and a collection of beers using an API Rest."
        url="https://github.com/Ferranv3/Spring-Boot-Samples-REST"
    />
    <div class="divider my-0"></div>
    <HorizontalCard
        title="Spring Boot Samples SOAP"
        img="/SpringBootSOAP_screenshot.webp"
        desc="It contains a Spring Boot back-end with many endpoints. A calculator, a Nasa image viewer using an API Rest, a contact form and a collection of beers using an API Rest."
        url="https://github.com/Ferranv3/Spring-Boot-Samples-SOAP"
    />
    <div class="divider my-0"></div>
    <HorizontalCard
        title="Demos Android"
        img="/UGame_screenshot.webp"
        desc="Some Android projects to download and run"
        url="https://github.com/Ferranv3/Demos-Android"
    />
    <div class="divider my-0"></div>
    <HorizontalCard
        title="Demos .Net"
        img="/GestioHospitalNET_screenshot.webp"
        desc="Some .Net projects to download and run"
        url="https://github.com/Ferranv3/Demos-.NET"
    />
    <div class="divider my-0"></div>
    <HorizontalCard
        title="Demos JavaFX"
        img="/JavaFX_screenshot.webp"
        desc="Some JavaFX projects to download and run"
        url="https://github.com/Ferranv3/Demos-JavaFX"
    />
  </>