---
const skills = 'Skills';
const techs = ['Astro', 'Node.js', 'Next.js', 'React .js'
              ,'Tekton', 'Flux', 'Github Actions', 'Terraform'
              ,'Google Cloud', 'Amazon Web Services', 'Microsoft Azure'
              ,'Kubernetes', 'Microservices', 'JDBC', 'SonarQube'
              ,'Jenkins', 'Jira', 'Swagger', 'Rancher', 'JPA', 'Hibernate'
              ,'Spring Boot', 'Java', 'Spring Security', 'Spring Cloud'
              ,'Angular', 'Visual Basic .NET', 'VB6', 'C#', 'Linux', 'Windows'
              ,'MockMVC', 'JUnit', 'Thymeleaf', 'Jasper Reports', 'Vue.js'
              ,'Git', 'PHP', 'Microsoft SQL', 'Oracle SQL', 'PostgreSQL'
              ,'PL/SQL', 'SASS', 'JavaScript', 'Typescript', 'Kotlin'
              ,'Python', 'Apache Tomcat', 'WildFly', 'SOLID', 'DDD'];
---
<div id="skills" class="mb-5">
    <div class="text-3xl w-full font-bold text-center">{skills}</div>
</div>

<ul class="list-disc md:columns-5 columns-2 mx-6">
{techs.map((name) => (
    <li>{name}</li>
))}
</ul>