---
const { title, techs } = Astro.props;
---
<div id="skills" class="mb-5">
    <div class="text-3xl w-full font-bold text-center">{title}</div>
</div>

<ul class="list-disc md:columns-5 columns-2 mx-6">
{techs.map((name) => (
    <li>{name}</li>
))}
</ul>